#files or directories to be ignored by git

*~
*.bk
*.bck
*.sw
*.swp
.project
languages/
.settings
.settings/*
.buildpath
.externalToolBuilders
.externalToolBuilders/*
.DS_Store
htdocs/xmlsitemap
htdocs/cache.php
htdocs/files
htdocs/files/*
htdocs/sites/default/files
htdocs/sites/default/files/*
htdocs/sites/content.captalis.net/files
htdocs/sites/content.captalis.net/files/*
htdocs/sites/default/settings.php
htdocs/sites/default/settings.bak.php
htdocs/sites/localprestum.es
htdocs/sites/localprestum.es/*
htdocs/sites/localprestum.com.br
htdocs/sites/localprestum.com.br/*
htdocs/sites/services.prestum.com/settings.php
htdocs/tmp
htdocs/js
htdocs/sites/default/default.settings.php
htdocs/sites/all/libraries/ckeditor/_source/plugins/footnote/
sites/localcontent.captalis.net/settings.php
htdocs/sites/localcontent.captalis.net/settings.php
languages/
